* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Game frame style */
.game-frame {
    width: 600px;
    height: 600px;
    box-shadow: 0 0 2px 2px gray;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}

/* board style */
.board {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 10px;
    background-image: url("img/snake&ladder.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* box style */
.box {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
}

/* backgroundimage style */
.smiley {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

/* dice-frame style */
.dice-frame {
    width: 500px;
    height: 80px;
    margin-left: 50px;
    margin-top: 5px;
    position: absolute;
}



/* style Rotate Dice */
#rtbtn {
    cursor: grab;
}

/* hover Rotate Dice */
#rtbtn:hover {
    background-color: green;
}

/* style dice */
.dice {
    margin: auto;
    width: 60px;
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
}

.dice>div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* front the dice */
.front {
    transform: translateZ(30px);
    background: green;
}

/* back the dice */
.back {
    transform: translateZ(-30px);
    background: red;
}

/* left the dice */
.left {
    transform-origin: left;
    transform: rotateY(90deg) translateX(-30px);
    background: rgb(214, 191, 191);
}

/* right the dice */
.right {
    transform-origin: right;
    transform: rotateY(90deg) translateX(30px);
    background: brown;
}

/* top the dice */
.top {
    transform-origin: center;
    transform: rotateX(90deg) translateZ(30px);
    background: yellow;
}

/* bottom the dice */
.bottom {
    transform-origin: center;
    transform: rotateX(90deg) translateZ(-30px);
    background: yellow;
}

/* Styling dice points */
.dot {
    width: 16px;
    height: 16px;
    background: black;
    border-radius: 100%;
    margin: 3%;
}

.right .dot {
    margin: 5%;
}

.bottom .dot {
    margin: 4%;
}

/* 3D rolling dice */
.anm {
    animation: animl 3s 30;
}

@keyframes animl {
    0% {

        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    50% {

        transform: rotateX(160deg) rotateY(-120deg) rotateZ(20deg);
    }

    100% {

        transform: rotateX(60deg) rotateY(120deg) rotateZ(120deg);
    }
}